.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.display-flex{
    display: flex;
}

/* .navbar-banner-width{
    width: 90rem;
    margin: auto;
} */

.background-color {
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.brand{
    font-size: 2.2rem;
    color: #23411C;
}

.dark-color{
    color: #727272;
}
.primary-color{
    color: #005A8F;
}

/* banner part */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.btn-primary{
    padding: 21px 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    margin-bottom: 4rem;
    transition: 1s;
}
.btn-primary:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(87, 59, 43, 0.4);
}
.btn-primary a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0px;
}

.banner-description{
    font-size: 1rem;
}
.banner-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* feature section */
.feature-container{
    display: flex;
    width: 84rem;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}
.feature-title{
    font-size: 2.8rem;
}
.features-content h3{
    margin-bottom: 0px;
}

.features-content{
    width: 537px;
    margin-left: 4rem;
}

.features-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-images img{
    box-shadow: 0 4px 10px rgba(87, 59, 43, 0.4);;
}

/* facts section */
.facts-content h3{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.fact-item{
    height: 241px;
    width: 241px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}
.fact-item h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}
.facts-container{
    width: 84rem;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}

.facts-items{
    display: flex;
    justify-content: space-around;
}

/* spnosor section */
.sponsor-container{
    width: 84rem;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}

.sponsor-content{
    width: 542px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.sponsor-content h3{
    font-size: 2.8rem;
    margin-bottom: 0px;
}

.sponsor-image{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.sponsor-image img{
    width: 166px;
    opacity: 0.9;
    color: #727272;
    margin-bottom: 4rem;
}

/* footer section */
footer{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    background-color: #FFF4E7;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}
/* responsive - navbar and banner */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links{
        flex-direction: column;
    }
    /* feature section responsive */
    .feature-container{
        flex-direction: column-reverse;
        width: 100%;
    }
    .features-images{
        width: 100%;
        
    }
    .features-images img{
        width: 100%;
        margin: 0;
    }
    .features-content{
        width: 100%;
        text-align: left;
        margin: 5px;

    }
    .banner-title{
        font-size: 2.5rem;
    }
    .brand{
        font-size: 28px;
    }
    .btn-primary{
        padding: 5px 10px;
    }
    .facts-items{
        width: 100%;
        margin: 10pxpx;
    }
    .facts-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .fact-item{
        height: 200px;
        width: 200px;
    }
    .facts-container{
        width: 100%;
    }
    .sponsor-container{
        width: 100%;
    }
    .sponsor-image{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .sponsor-image img{
        height: 50px;
        width: 90px;
    }
    .sponsor-content{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
